[submodule "submodules/vortex-aruco-detection"]
	path = submodules/vortex-aruco-detection
	url = git@github.com:vortexntnu/vortex-aruco-detection.git
[submodule "submodules/vortex-image-filtering"]
	path = submodules/vortex-image-filtering
	url = git@github.com:vortexntnu/vortex-image-filtering.git
[submodule "submodules/vortex-blackfly-driver"]
	path = submodules/vortex-blackfly-driver
	url = git@github.com:vortexntnu/vortex-blackfly-driver.git
[submodule "submodules/isaac_ros_common"]
	path = submodules/isaac_ros_common
	url = https://github.com/vortexntnu/isaac_ros_common.git
[submodule "submodules/zed-ros2-wrapper"]
	path = submodules/zed-ros2-wrapper
	url = https://github.com/vortexntnu/zed-ros2-wrapper.git
