[submodule "submodules/vortex-aruco-detection"]
	path = submodules/vortex-aruco-detection
	url = https://github.com/vortexntnu/vortex-aruco-detection.git
[submodule "submodules/vortex-image-filtering"]
	path = submodules/vortex-image-filtering
	url = https://github.com/vortexntnu/vortex-image-filtering.git
[submodule "submodules/vortex-blackfly-driver"]
	path = submodules/vortex-blackfly-driver
	url = https://github.com/vortexntnu/vortex-blackfly-driver.git
[submodule "submodules/vortex-vkf"]
	path = submodules/vortex-vkf
	url = https://github.com/vortexntnu/vortex-vkf.git
[submodule "submodules/zed-ros2-wrapper"]
	path = submodules/zed-ros2-wrapper
	url = git@github.com:vortexntnu/zed-ros2-wrapper.git
[submodule "submodules/isaac_ros_object_detection"]
	path = submodules/isaac_ros_object_detection
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_object_detection.git
[submodule "submodules/isaac_ros_dnn_inference"]
	path = submodules/isaac_ros_dnn_inference
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_dnn_inference.git
[submodule "submodules/isaac_ros_nitros"]
	path = submodules/isaac_ros_nitros
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_nitros.git
